body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 100px;
    height: 100%;
    width: 100%;
}

#container {
    margin: 0;
    height: 50%;
    width: 50%;
    border: solid black 1px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.box {
    border: solid 1px;
    padding-top: 100%;
}