body {
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    height: 100%;
    width: 100%;
}

#container {
    margin: auto auto auto auto;
    height: 50%;
    width: 50%;
    border: solid black 1px;
    display: grid;
}

.box {
    border: solid 1px;
    padding-top: 100%;
}